{% extends 'login/base.html' %} {% block body %}
<div class="container">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>Enter User name
            <input type='text' id='user'>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

      <div class="row">
        <div class="col-sm-4">
          <h1>User Detail</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Detail Name</th>
                <th scope="col">User Detail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Username</td>
                <td>{{userdetail.username}}</td>
                <td>
                  <button class="btn btn-success" id="useredit">Edit</button>
                </td>
                <td>
                  <button class="btn btn-danger" id="userdelete">Delete</button>
                </td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{userdetail.email}}</td>
                <td>
                  <button class="btn btn-success" id="emailedit">Edit</button>
                </td>
                <td>
                  <button class="btn btn-danger" id="emaildelete">
                    Delete
                  </button>
                </td>
              </tr>
              <tr>
                <td>Address</td>
                <td>{{userdetail.address}}</td>
                <td>
                  <button class="btn btn-success" id="addressedit">Edit</button>
                </td>
                <td>
                  <button class="btn btn-danger" id="addressdelete">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endblock %} {% block js %}
    
    
    <script>
      $(document).ready(function () {
        console.log("hello");
      });
    </script>
    <script>
      console.log("{{users}}")
      
    </script>
    {% endblock %}
  </div>
</div>
