{% extends 'login/base.html' %} {% block body %}
<div class="container">
  



<div class="modal fade" id="useredit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- "{% url 'deletedata' userdetail.id %}" -->
        <form action="{% url 'userediting' userdetail.id %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Enter username:</label>
            <input type="text" class="form-control" name='updatedinfo' id="recipient-name">
          </div>
          <!-- <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div> -->
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send message</button>
      </div>
    </form>
    </div>
  </div>
</div>



<div class="modal fade" id="emailedit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'emailediting' userdetail.id %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Enter Email:</label>
            <input type="email" class="form-control" name='updatedinfo' id="recipient-name">
            <input type="password" class="form-control" name='updatedpassword' >
          </div>
          <!-- <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div> -->
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="Submit" class="btn btn-primary">Send message</button>
      </div>
    </form>
    </div>
  </div>
</div>




<div class="modal fade" id="addressedit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{% url 'addressediting' userdetail.id %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Enter Address:</label>
            <input type="text" class="form-control" name='updatedinfo' id="recipient-name">
          </div>
          <!-- <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div> -->
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="Submit" class="btn btn-primary">Send message</button>
      </div>
    </form>
    </div>
  </div>
</div>










      <div class="row">
        <div class="col-sm-4">
          <h1>User Detail</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Detail Name</th>
                <th scope="col">User Detail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Username</td>
                <td>{{userdetail.username}}</td>
                <td>
                  <!-- <button class="btn btn-success" id="useredit">Edit</button> -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#useredit" data-whatever="@mdo">Edit</button>
                </td>
                <td>
                  <button class="btn btn-danger" id="userdelete">Delete</button>
                  
                </td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{userdetail.email}}</td>
                <td>Here you can also edit your password only also
                  <!-- <button class="btn btn-success" id="emailedit">Edit</button> -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#emailedit" data-whatever="@mdo">Edit</button>
                </td>
                <td>
                  <button class="btn btn-danger" id="emaildelete">
                    Delete
                  </button>
                  
                </td>
              </tr>
              <tr>
                <td>Address</td>
                <td>{{userdetail.address}}</td>
                <td>
                  <!-- <button class="btn btn-success" id="addressedit">Edit</button> -->
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addressedit" data-whatever="@mdo">Edit</button>
                </td>
                <td>
                  <form action="{% url 'deletedata' userdetail.id %}" method="POST"> {% csrf_token %}<button class="btn btn-danger" id="addressdelete">
                    Delete
                  </button></form>
                  
                  
                </td>
              </tr>
            </tbody>
          </table>
          <a href='/' id='logout' class='btn btn-danger'>Logout</a>
          
        </div>
      </div>
    </div>
    {% endblock %} {% block js %}
    
    
    <script>
      $(document).ready(function () {
        {% if ischange is not True %}
        alert('{{ischange}}')
        {% endif %}
        console.log("hello");
        $('#logout').click(function(){
          alert('You are successfully logout ');
        })
        $('#emaildelete').click(function(){
          alert('Email cannot be deleted')
        })
        $('#userdelete').click(function(){
          alert('Username can not be deleted')
        })
        $('#addressdelete').click(function(){
          if ( "{{userdetail.address}}" == "" )
          alert('Alreday address of {{username}} is deleted. ')
        })
      });

    </script>
    <script>
      
      {% for i in users %}
        console.log("{{i}}" )
        
      
      {% endfor %}
    </script>
    {% endblock %}
  </div>
</div>
